body {
    background-color: #f6f6f6;
}

.item-enter {
  opacity: 0;
  transform: scale(0.2);
}
.item-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 1000ms;
}

.item-exit {
  opacity: 1;
  transform: translate(0, 0)
}

.item-exit-active {
  opacity: 0.01;
  transform: translate(0, -40px);
  transition: all 500ms ease-in;
}